{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Breed Identification</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
    {% tailwind_css %}
  </head>
  <body class="overflow-hidden">
    <nav class="flex justify-around bg-yellow-950 text-neutral-50 h-12 items-center" style="font-family: Poppins;">
		<h1 class="font-semibold text-4xl">PawFinder</h1>
		<div class="w-[12rem] flex justify-around text-2xl">
			{% if user.is_authenticated %}
            <a class="hover:text-blue-600 duration-300" href="logout">Logout</a>
			{% else %}
			<a class="hover:text-blue-600 duration-300" href="login">Login</a>
			<p class="select-none"> | </p>
			<a class='hover:text-blue-600 duration-300' href="register">Register</a>
			{% endif %}
		</div>		
	</nav>
	<section id='section' class="relative h-[93vh] bg-cover bg-no-repeat opacity-70 flex justify-center" style="background-image: url('{% static 'img/cat.png' %}');">
		<div class="absolute flex flex-col justify-center items-center top-[30%]">
		  	<h1 class="text-[50px] w-auto font-bold text-center mb-5">
				Discover the perfect pet
		  	</h1>
		  	<p class="text-lg text-center font-semibold text-[18px] w-2/3" style="font-family: Nanum Myeongjo;">
				Find your ideal companion with our breed classifier. Get the possible breeds of your pet!
		  	</p>
		  	<button onclick="showModal()" class="mt-[5rem] bg-yellow-950 text-neutral-100 p-3 rounded shadow-2xl transition-transform duration-600 ease-in-out hover:scale-110 hover:bg-yellow-900">
				What's My Dog's Breed?
		  	</button>
		</div>
		<div id='modal' class="absolute inset-0 h-2/3 w-3/4 m-auto transition-all z-50 top-[100rem]">
			<div class="flex items-center justify-around h-full w-full gap-1 backdrop-blur-xl">
			{% csrf_token %}
			<label id='image-container' for="dropzone-file" class="flex flex-col items-center justify-center w-full h-full p-3 rounded-lg cursor-pointer bg-slate-800 hover:bg-slate-900 dark:bg-gray-900 dark:hover:bg-gray-950">
				<div class="flex flex-col items-center justify-center pt-5 pb-6">
					<p class="mb-2 text-sm text-gray-500 text-center"><span class="font-semibold">Click to upload</span> or drag and drop
						<input id="dropzone-file" class="hidden" type="file" accept=".jpeg,.png,.jpg" onchange="sendImageToServer(this.files[0])" />
					</p>											
					<p class="text-xs text-gray-500 dark:text-gray-400">PNG, JPG or JPEG</p>
				</div>
			</label>
			<div class="flex flex-col items-center justify-center w-full h-full p-3 rounded-lg bg-slate-800 dark:bg-gray-900">
				<div class="flex flex-col items-center justify-center h-full w-full">
					<p id='outputText' class="mb-2 text-sm text-gray-500 dark:text-gray-400 font-semibold">Output</p>
					<div id="chartContainer" class="hidden h-full w-full"></div>
				</div>
			</div>
			</div>
			<button onclick="closeModal()" class="absolute top-0 right-0 bg-red-600 mt-1 mr-1 p-2 items-center text-center text-white rounded-full">
				&times;
			</button>
			<button onclick="clearImage()" class="absolute left-1/4 bg-red-600 p-3 px-4 text-white text-2xl rounded-md">Clear</button>
		</div>
	  </section>
  </body>

	//To open or close modal
	<script>
		const modal = document.getElementById('modal');
		
		function showModal() {
			modal.classList.remove('top-[100rem]');
			modal.classList.add('top-0');
		}
		
		function closeModal() {
			modal.classList.remove('top-0');
			modal.classList.add('top-[100rem]');
		}
	</script>

	<script>
		// Function to clear the displayed image
		const container = document.getElementById('image-container');
		const originalContent = container.innerHTML;
		
		function clearImage() {
			const container = document.getElementById('image-container');
			container.innerHTML = originalContent;
			const chartContainer = document.getElementById('chartContainer');
            chartContainer.innerHTML = '';

		}

		function displayImage(file) {
			container.innerHTML = ''; // Clear the container
		
			if (file) {
			const reader = new FileReader();
			reader.onload = function() {
				const img = document.createElement('img');
				img.src = reader.result;
				img.className = 'h-2/3 w-fit m-auto'
				container.appendChild(img);
			}
			reader.readAsDataURL(file);
			}
		}
	</script>

	<script>
		var myChart;

        function createChart(dataPoints) {
            // Clear the existing chart container
            const chartContainer = document.getElementById('chartContainer');
            chartContainer.innerHTML = '';

            // Create the chart
            myChart = new CanvasJS.Chart('chartContainer', {
                animationEnabled: true,
                backgroundColor: "#111827",
                
                data: [{
                    type: "doughnut",
                    startAngle: 60,
                    innerRadius: "85",
                    indexLabelFontSize: 14,
                    indexLabelFontColor: "white",
                    indexLabelFontFamily: "'Poppins', sans-serif",
                    dataPoints: dataPoints
                }]
            });

            myChart.render();

            // Show the chart container
            chartContainer.classList.remove('hidden');
        }

		function sendImageToServer(file) {
			displayImage(file);
			const formData = new FormData();
			const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
			formData.append('csrfmiddlewaretoken', csrfToken);
			formData.append('image', file);
		
			fetch('/predict', {
				method: 'POST',
				body: formData
			  })
			  .then(response => response.json())
			  .then(data => {
				// Handle the JSON response from the server
				console.log(data);
		
				// Check if the response contains an error
				if (data.error) {
				  const outputDiv = document.getElementById('outputText');
				  outputDiv.textContent = data.error;
				  return;
				}

				const filteredData = Object.entries(data).filter(([label, value]) => value !== 0);
				const labels = filteredData.map(([label, value]) => label);
				const values = filteredData.map(([label, value]) => value);
		
				// Prepare dataPoints for the chart
				const dataPoints = labels.map((label, index) => ({
					y: values[index],
					label: label,
					indexLabel: `${label}: ${values[index]}%`
				  }));
		
				// Create the chart with the received data
				createChart(dataPoints);
			  })
			  .catch(error => {
				console.error('Error:', error);
			  });
			}
	</script>
</html>
