{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Login</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        {% tailwind_css %}
    </head>
<body class="h-screen w-full flex items-center justify-center relative text-[15px]">
  <section id='section' class="relative h-full w-full bg-cover bg-no-repeat opacity-70 flex justify-center" style="background-image: url('{% static 'img/cat.png' %}');"></section>
    <section class="h-[90%] w-1/3 border-black border-2 flex items-center justify-center flex-col absolute" style="font-family: poppins;">
        <a style="text-decoration: none; color:black; font-size: 24px;" href="index"><h1 class="mb-[10px]">PawFinder</h1></a>
        <h3>Hello, Who's There?</h3>

        <form class="flex items-start justify-center flex-col w-2/3 h-2/3" action="login" method="post">
            {% csrf_token %}
            <div class="text-red-600"> 
            {{ form.non_field_errors }}
            </div>
            {% for field in form %}
          {{ field.errors }}{{ field.label_tag }}
            {{ field }}
            {% endfor %}

            <a class="hover:text-blue-600 hover:underline transition-none" href="">forgot password? </a>
            <button class="w-full mx-0 my-[1rem] h-[10%] bg-yellow-950 text-yellow-200 border-0 hover:-translate-y-1 hover:shadow-lg transition ease-in-out duration-300" type="submit"> Login to PawFinder </button>

            <div class="gap-[5px]">Don't have an account yet? <a href="register" class="hover:text-blue-600 hover:underline">Sign up</a></div>
        </form>
    </section>
    
</body>
</html>